@import './base.scss';
@import "./mixins";
@import "./parent";


*{
  transition: all .2s ease;
}


body{
  background-color: var(--color-background);
  overflow-x: hidden;
}


.p-3{
  padding: 3px;
}

.active{
  @extend %active-text;
}


